/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
html {
	font-size: 16px;
}
body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  background-color: #1a1a1a;
}
ul, 
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
}
h3, h4 {
  font-family: 'Poppins', sans-serif;
  margin: 20px 0;
  font-size: 1.125em;
  font-weight: 500;
}
p {
  font-size: .875em;
  line-height: 1.285;
}
address {
 font-style: normal;
}
.content-wrapper {
  width: 90%;
  margin: 50px 0;
}
img {
  width: 100%;
}
figure {
  margin: 0;
}

/* Base Header - Footer Styles */
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
header {
  padding: 15px 0;
  padding-right: 5px;
}
header h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  color: #ffffff;
}
header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}
.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  flex-flow: row wrap;
  padding-left: 5px;
}
footer {
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
footer h4 {
  font-size: 1.5em;
}
footer p {
  margin: 0;
  font-size: 1.125em;
}
footer .contact {
  margin-bottom: 50px;
}
footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
footer .social-icons p i {
  font-size: 1.5em;
}
footer .copyright {
  margin: 20px 0;
}


/* Mobile Styles - Homepage */
/* About Me */
.about {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 400px;
  background-image: url(../img/timetrial.jpg);
  background-size: cover;
  background-position: center;
  color:  #ffffff;
}
.about h3 {
  font-size: 2.25em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500; 
  line-height: 1.2; 
  text-align: center;
}
.about p {
  font-size: 1.5em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500; 
  line-height: 1.2;
  text-align: justify;
}

/* Portfolio */
.my-portfolio {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: #ffffff;
}
.my-portfolio h3 {
  font-size: 2.25em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500; 
  line-height: 1.2; 
  margin-bottom: 60px;
  text-align: center;
}
.my-portfolio p {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
}
.my-portfolio article {
  width: 100%;
  margin: 30px 0;
}


/***** About Me Page *****/
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: #ffffff;
}
.about-me .content-wrapper {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}
.about-me .content-wrapper .divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
}
.about-me h3 {
  margin-bottom: 40px;
  font-size: 2.25em;
  text-align: center;
}
.about-me p {
  margin-bottom: 40px;
  font-size: 1.5em;
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
}
.about-me .background-info {
  background-image: url(../img/sand.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
.about-me .motivation {
  background-image: url(../img/running.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
.about-me .current-work {
  background-image: url(../img/nationals.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}



/***** Portfolio Page *****/
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: #ffffff;
}
.portfolio .content-wrapper {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.portfolio h2 {
  margin-bottom: 40px;
  font-size: 2.25em;
  text-align: center;
}
.portfolio h4 {
  margin-bottom: 40px;
  font-size: 2em;
  text-align: center;
}
.portfolio p {
  margin-bottom: 40px;
  font-size: 1.5em;
  text-align: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  /* General styles */
  .content-wrapper {
    max-width: 750;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.333;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }

  /* Header */
  header {
    justify-content: space-around;
    padding: 33px 0;
  }
  header .content-wrapper {
    width: 90%;
    justify-content: space-between;
  }
  header nav {
    width: 40%;
  }
  header nav ul {
    justify-content: space-between;
  }
  .header-divider {
    display: none;
  }

  /* About Me */
  .about h3 {
    font-size: 3em;
    line-height: 2;
  }
  .about p {
    font-size: 1.85em;
    line-height: 2;
  }

  /* Portfolio */
  .my-portfolio h3 {
    font-size: 3em;
    line-height: 2;
  }
  .my-portfolio p {
    font-size: 1.85em;
    line-height: 2;
  }

  /***** About Me Page *****/
  .about-me h3 {
    font-size: 3em;
    line-height: 2;
  }
  .about-me p {
    font-size: 1.75em;
    line-height: 2;
  }

  /***** Portfolio Page *****/ 
  .portfolio h4 {
    font-size: 2.5em;
    line-height: 1.75;
  }
  .portfolio p {
    font-size: 1.75em;
    line-height: 1.75;
  }

  /* Footer */
  footer h4{
    font-size: 3em;
    line-height: 2;
  }
  footer p {
    font-size: 2em;
    line-height: 2;
  }




@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/
  /* About Me */
  .about h3 {
    font-size: 2.5em;
    line-height: 2;
  }
  .about p {
    font-size: 1.75em;
    line-height: 2;
  }

  /* Portfolio */
  .my-portfolio h3 {
    font-size: 2.5em;
    line-height: 2;
  }
  .my-portfolio p {
    font-size: 1.75em;
    line-height: 2;
  }

  /***** About Me Page *****/
  .about-me h3 {
    font-size: 2.5em;
    line-height: 2;
  }
  .about-me p {
    font-size: 1.75em;
    line-height: 2;
  }

  /***** Portfolio Page *****/ 
  .portfolio h4 {
    font-size: 2.25em;
    line-height: 1.75;
  }
  .portfolio p {
    font-size: 1.5em;
    line-height: 1.75;
  }

  /* Footer */
  footer h4{
    font-size: 2.5em;
    line-height: 2;
  }
  footer p {
    font-size: 1.75em;
    line-height: 2;
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}